body {
  font-family: 'Mona sans', sans-serif;
  color: #000;
  font-size: 1.125rem;
  line-height: 150%;
}

h1 {
  margin-top: 0px;
  margin-bottom: 0em;
  font-size: 6rem;
  line-height: 100%;
  font-weight: 700;
}

h2 {
  margin-top: 10px;
  margin-bottom: 0px;
  font-size: 4.5rem;
  line-height: 100%;
  font-weight: 600;
}

h3 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 2rem;
  line-height: 100%;
  font-weight: 700;
}

h4 {
  margin-top: 0px;
  margin-bottom: 0px;
  color: #b7b4b9;
  font-size: 1rem;
  line-height: 24px;
  font-weight: 700;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

p {
  margin-bottom: 0px;
  font-size: 1.125rem;
  line-height: 150%;
}

.hero {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  padding: 24px;
}

.hero-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 24vh 60px 70px;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  background-color: #000;
  color: #fff;
}

.c {
  max-width: 1300px;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.c.nav-flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 7px;
  padding-bottom: 7px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.heading-wrapper {
  margin-bottom: 2em;
}

.hero-p {
  max-width: 43.5rem;
  color: hsla(0, 0%, 100%, 0.7);
  font-size: 1.5rem;
  line-height: 140%;
  text-align: left;
}

.hero-cta-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 2.5em;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-column-gap: 5vw;
  grid-row-gap: 5vw;
  font-weight: 500;
}

.cta-secondary {
  overflow: hidden;
  color: #fff;
  font-weight: 500;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

.underline-2 {
  width: 100%;
  height: 2px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  background-color: #fff;
}

.nav {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  margin-top: 24px;
  margin-right: 24px;
  margin-left: 24px;
  padding-right: 60px;
  padding-left: 60px;
  background-color: transparent;
}

.highlight-wrapper {
  position: relative;
  display: inline-block;
  margin-right: 10px;
}

.highlight {
  position: absolute;
  left: 5%;
  top: 50%;
  right: 0%;
  bottom: 0%;
  height: 36%;
  margin-right: 4px;
  background-color: #ffe872;
}

.hero-heading {
  position: relative;
  display: inline;
  margin-right: 10px;
}

.cta-primary {
  padding: 1em 1.5em;
  background-color: #fff;
  -webkit-transition: opacity 200ms ease-in-out;
  transition: opacity 200ms ease-in-out;
  color: #000;
  text-align: center;
  text-transform: uppercase;
}

.cta-primary:hover {
  background-color: rgba(255, 255, 255, 0.8);
}

.cta-primary.is--big {
  padding: 1.2em 1.5em;
  font-size: 1.5rem;
}

.nav-link {
  padding: 14px;
  color: #fff;
  font-size: 1rem;
  text-decoration: none;
  text-transform: uppercase;
}

.section {
  padding: 60px;
}

.footer {
  margin-top: 60px;
  margin-right: 24px;
  margin-left: 24px;
  padding: 80px 60px 40px;
  background-color: #000;
  color: #fff;
}

.margin-24px {
  height: 24px;
}

.footer-bot {
  margin-top: 3em;
  padding-top: 1em;
  border-top: 1px solid hsla(0, 0%, 100%, 0.7);
  color: hsla(0, 0%, 100%, 0.7);
  font-size: 1rem;
}

.footer-cta-wrapper {
  margin-top: 2.5em;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-column-gap: 5vw;
  grid-row-gap: 5vw;
}

.tablet-5rem-margin {
  max-width: 550px;
  margin-top: 0rem;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

._2-column-flexbox {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  grid-column-gap: 2rem;
}

.content-design {
  position: relative;
}

.top-margin-1-5em {
  position: relative;
  z-index: 2;
  margin-top: 1.5em;
}

.top-margin-2-5em {
  margin-top: 3em;
}

.project {
  display: -ms-grid;
  display: grid;
  padding-top: 5em;
  padding-bottom: 5em;
  grid-auto-columns: 1fr;
  grid-column-gap: 48px;
  grid-row-gap: 48px;
  grid-template-areas: ". Area"
    ". Area";
  -ms-grid-columns: 1fr 48px 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto 48px auto;
  grid-template-rows: auto auto;
}

.right-col {
  position: relative;
  text-align: right;
}

.mockup-hover {
  position: absolute;
  right: 0%;
  bottom: -24px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-left: 10px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-column-gap: 12px;
  grid-row-gap: 12px;
}

.html-embed {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.mockup-img {
  position: relative;
  z-index: 1;
}

.project-cta {
  margin-top: 2em;
  padding: 1em 1.5em;
  background-color: #000;
  -webkit-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
  text-align: center;
  text-transform: uppercase;
}

.project-cta:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.footer-p {
  max-width: 49rem;
  color: hsla(0, 0%, 100%, 0.7);
  font-size: 1.75rem;
  line-height: 150%;
}

.brand {
  width: 10vw;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.h1 {
  max-width: 45rem;
  margin-bottom: 0.2em;
  font-size: 5rem;
  line-height: 100%;
  text-align: left;
  text-transform: uppercase;
}

.hero-left-col {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.h1-copy {
  max-width: 65rem;
  margin-bottom: 0.2em;
  font-size: 6rem;
  text-align: left;
  text-transform: uppercase;
}

.text-block {
  position: absolute;
  left: -13%;
  top: 5%;
  right: auto;
  bottom: auto;
  z-index: 1;
  font-family: 'Great Vibes', cursive;
  color: rgba(0, 0, 0, 0.3);
  font-size: 15rem;
  line-height: 100%;
  font-weight: 400;
}

.about-h3 {
  position: relative;
  z-index: 2;
  text-transform: uppercase;
}

.div-overflow-hidden {
  overflow: hidden;
}

.underline-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0.3em;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  grid-column-gap: 2rem;
}

.underline-1 {
  width: 100%;
  height: 2px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  background-color: #fff;
}

.underline-wrapper-nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  grid-column-gap: 1rem;
}

.nav-link-wrapper {
  overflow: hidden;
}

.divider {
  width: 100%;
  height: 2px;
  margin-right: auto;
  margin-left: auto;
  background-color: #afafb3;
}

@media screen and (max-width: 991px) {
  h2 {
    font-size: 3.5rem;
  }

  h3 {
    font-size: 2rem;
  }

  .hero-wrapper {
    padding-right: 40px;
    padding-left: 40px;
  }

  .heading-wrapper {
    margin-bottom: 1.5em;
  }

  .hero-p {
    max-width: 40rem;
    font-size: 1.35rem;
    line-height: 130%;
  }

  .hero-cta-wrapper {
    margin-top: 3em;
    grid-column-gap: 5rem;
    grid-row-gap: 5rem;
  }

  .nav {
    padding-right: 40px;
    padding-left: 40px;
  }

  .hero-heading {
    font-size: 4rem;
  }

  .section {
    padding-right: 40px;
    padding-left: 40px;
  }

  .footer {
    padding-right: 40px;
    padding-left: 40px;
  }

  ._7-5rem {
    margin-top: 2.5rem;
  }

  .tablet-5rem-margin {
    margin-top: 5rem;
  }

  ._2-column-flexbox {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .top-margin-1-5em {
    margin-top: 1em;
  }

  .top-margin-2-5em {
    margin-top: 3.5em;
  }

  .project {
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
    grid-template-areas: ".";
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .right-col {
    width: 100%;
    background-color: #505052;
    text-align: center;
  }

  .mockup-hover {
    display: none;
  }

  .footer-p {
    max-width: 90%;
    font-size: 1.375rem;
  }

  .brand {
    padding-left: 0px;
  }

  .h1 {
    max-width: 40rem;
    font-size: 4.5rem;
  }

  .h1-copy {
    max-width: none;
  }
}

@media screen and (max-width: 767px) {
  h2 {
    margin-top: 5px;
    font-size: 3rem;
  }

  .hero-wrapper {
    padding-top: 8.75rem;
    padding-right: 30px;
    padding-left: 30px;
  }

  .hero-p {
    max-width: 30rem;
    font-size: 1.4rem;
  }

  .hero-cta-wrapper {
    margin-top: 2em;
    grid-column-gap: 4rem;
    grid-row-gap: 4rem;
  }

  .cta-secondary {
    font-size: 1rem;
  }

  .nav {
    padding-right: 30px;
    padding-left: 30px;
  }

  .hero-heading {
    font-size: 3rem;
  }

  .cta-primary {
    font-size: 1rem;
  }

  .cta-primary.is--big {
    padding: 1em;
    font-size: 1.125rem;
  }

  .nav-link {
    font-size: 0.875rem;
  }

  .section {
    padding: 40px 30px;
  }

  .footer {
    margin-top: 40px;
    padding-top: 40px;
    padding-right: 30px;
    padding-left: 30px;
  }

  ._7-5rem {
    margin-top: 1rem;
  }

  .project {
    padding-top: 70px;
    padding-bottom: 70px;
  }

  .footer-p {
    max-width: 28.7rem;
    font-size: 1.125rem;
  }

  .h1 {
    max-width: 430px;
    margin-bottom: 0.2em;
    font-size: 3rem;
  }

  .h1-copy {
    max-width: none;
    margin-bottom: 0.2em;
    font-size: 3.6rem;
  }

  .text-block {
    left: -10%;
  }
}

@media screen and (max-width: 479px) {
  p {
    font-size: 1.125rem;
  }

  .hero {
    min-height: auto;
    padding: 0px;
  }

  .hero-wrapper {
    padding-top: 7.5rem;
    padding-right: 20px;
    padding-left: 20px;
  }

  .hero-p {
    max-width: 380px;
    font-size: 1.125rem;
  }

  .hero-cta-wrapper {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    grid-column-gap: 3.5rem;
    grid-row-gap: 1.5rem;
  }

  .cta-secondary {
    -webkit-box-flex: 2;
    -webkit-flex: 2 41%;
    -ms-flex: 2 41%;
    flex: 2 41%;
  }

  .nav {
    margin-top: 0px;
    margin-right: 0px;
    margin-left: 0px;
    padding-right: 20px;
    padding-left: 20px;
  }

  .hero-heading {
    font-size: 3rem;
  }

  .cta-primary {
    -webkit-box-flex: 2;
    -webkit-flex: 2 45%;
    -ms-flex: 2 45%;
    flex: 2 45%;
  }

  .cta-primary.is--big {
    display: block;
  }

  .section {
    padding-right: 20px;
    padding-left: 20px;
  }

  .footer {
    margin-top: 0px;
    margin-right: 0px;
    margin-left: 0px;
    padding-right: 20px;
    padding-left: 20px;
  }

  .margin-24px {
    display: none;
  }

  ._7-5rem {
    margin-top: 0rem;
  }

  .tablet-5rem-margin {
    margin-top: 3.5rem;
  }

  .project {
    padding-top: 30px;
    padding-bottom: 30px;
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
  }

  .right-col {
    margin-top: 1em;
    margin-bottom: 1.5em;
  }

  .project-cta {
    display: block;
    font-size: 1rem;
  }

  .footer-p {
    max-width: 22rem;
    font-size: 1.125rem;
  }

  .brand {
    width: 3rem;
  }

  .h1 {
    font-size: 2.5rem;
  }

  .menu-button {
    padding: 12px;
    color: hsla(0, 0%, 100%, 0.69);
  }

  .icon {
    font-size: 29px;
  }

  .h1-copy {
    font-size: 2.7rem;
  }

  .text-block {
    display: none;
  }

  .heading {
    font-size: 2.5rem;
  }
}

#w-node-c6de9c34-4fb9-f28f-9a50-ba84afb002b7-2bbaae99 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-c6de9c34-4fb9-f28f-9a50-ba84afb002bd-2bbaae99 {
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-row-span: 2;
  grid-row-end: 3;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-align: center;
  align-self: center;
  -ms-grid-column-align: end;
  justify-self: end;
}

#w-node-c6de9c34-4fb9-f28f-9a50-ba84afb002c4-2bbaae99 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_072428d9-40bd-6be8-aa0d-5c71f554dca4-2bbaae99 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-a0a92802-7de1-157f-a4aa-bdd596ec1583-2bbaae99 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-a0a92802-7de1-157f-a4aa-bdd596ec1589-2bbaae99 {
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-row-span: 2;
  grid-row-end: 3;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-align: center;
  align-self: center;
  -ms-grid-column-align: end;
  justify-self: end;
}

#w-node-a0a92802-7de1-157f-a4aa-bdd596ec1590-2bbaae99 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_21cc3393-248e-6503-227b-c7c0881c29da-2bbaae99 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-f33920ab-1c46-9c84-62d5-e11389a7b725-2bbaae99 {
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-row-span: 2;
  grid-row-end: 3;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-align: center;
  align-self: center;
  -ms-grid-column-align: end;
  justify-self: end;
}

#w-node-_56b08b46-5dc4-a094-6cc0-097b9159783c-2bbaae99 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-a5ac8639-df72-325e-9372-c31b0c4dc142-2bbaae99 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-a5ac8639-df72-325e-9372-c31b0c4dc148-2bbaae99 {
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-row-span: 2;
  grid-row-end: 3;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-align: center;
  align-self: center;
  -ms-grid-column-align: end;
  justify-self: end;
}

#w-node-a5ac8639-df72-325e-9372-c31b0c4dc14f-2bbaae99 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

@media screen and (max-width: 991px) {
  #w-node-c6de9c34-4fb9-f28f-9a50-ba84afb002bd-2bbaae99 {
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
    -ms-grid-row: span 2;
    grid-row-start: span 2;
    -ms-grid-row-span: 2;
    grid-row-end: span 2;
  }

  #w-node-a0a92802-7de1-157f-a4aa-bdd596ec1589-2bbaae99 {
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
    -ms-grid-row: span 2;
    grid-row-start: span 2;
    -ms-grid-row-span: 2;
    grid-row-end: span 2;
  }

  #w-node-f33920ab-1c46-9c84-62d5-e11389a7b725-2bbaae99 {
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
    -ms-grid-row: span 2;
    grid-row-start: span 2;
    -ms-grid-row-span: 2;
    grid-row-end: span 2;
  }

  #w-node-a5ac8639-df72-325e-9372-c31b0c4dc148-2bbaae99 {
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
    -ms-grid-row: span 2;
    grid-row-start: span 2;
    -ms-grid-row-span: 2;
    grid-row-end: span 2;
  }
}

@font-face {
  font-family: 'Mona sans';
  src: url('../fonts/Mona-Sans-Black.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Mona sans';
  src: url('../fonts/Mona-Sans-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Mona sans';
  src: url('../fonts/Mona-Sans-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Mona sans';
  src: url('../fonts/Mona-Sans-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Mona sans';
  src: url('../fonts/Mona-Sans-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}